[submodule "reflex-platform"]
	path = reflex-platform
	url = git@github.com:reflex-frp/reflex-platform.git
[submodule "reflex-material"]
	path = reflex-material
	url = https://github.com/rvl/reflex-material
[submodule "reflex-dom-helpers"]
	path = reflex-dom-helpers
	url = git@github.com:hansroland/reflex-dom-helpers.git
